body {
    min-width: 400px;
    min-height: 400px;
    font-family: 'Alata', sans-serif;
    color: #0B0418;
}

#todo-app {
    padding: 20px;
}

h1 {
    font-size: 24px;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

#task-list li.completed {
    text-decoration: line-through;
}

#new-task-input {
    width: calc(80% - 22px);
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #5941A9;
    color: #E5E5E5;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-text {
    text-align: right;
    font-size: 12px;
}

.task-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
}

a {
  color: #5941A9;
}

#new-task-due-date {
    width: calc(80% - 22px);
    padding: 5px;
    margin-bottom: 10px;
}
